
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    
}

.container {
    width: 90%;
    margin:  0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    padding: 9px;
    gap: 50px;
}

header {
    background-color: white;
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 9px #707070;
    padding: 20px;
    color: black;
}


nav ul li {
    margin: 10px;
}

.navigation a {
    font-size: 20px;
    margin: 0 25px;
    text-decoration: none;
    color: black;
    
}
.navigation a:hover{
    color: #004ca0;
    color: black 900px;
}
.Logo P{

    color: #004ca0;
}

h1 {
    margin-bottom: 0px;
    color: #1792d2;
}

p {
    font-size: 10px;
}

@media screen and (max-width:675px) {
    .container-nav {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    .navigation a {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .Home{
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 25px 0 10px;
        height: auto;
    } 
    .Home-Descrption-words{
       order: 2;
       width: 70%;
       padding-bottom:  10px;
    }
    .Footer{
    display: block;
    justify-content: space-between;
    gap: 20xp;
    }
}